dataset/
ddis-graph-embeddings/
ddis-graph-embeddings.zip
ddis-movie-graph.nt.zip
ddis-movie-graph.tsv.zip
14_graph.nt
entity_embeds.npy
relation_embeds.npy
Test3
Test3.py
ATAI_Eval2_timid_spirit.py.zip
Evaluation_Event_II_timid_spirit.pdf
Intermediate Eval 1.drawio
Intermediate Eval 1.png
title.basics.tsv
title.ratings.tsv.gz
top_10000_movies_by_rating.txt